.container {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.containerCarte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.carteVu {
  position: relative;
  width: 100px;
  height: 150px;
  margin: 35px;
  background: black;
  box-shadow: 0px 0px 2px 1px rgba(32, 32, 32, 0.3);
  border-radius: 10px;
}

.carteHide {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #424242;
  width: 100px;
  height: 150px;
  border-radius: 10px;
}

button {
  background-color: #424242;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  opacity: 1;
}

button:hover + .carteVu > .carteHide {
  transform: translate(0px, 0px);
  opacity: 0;
}
button + .carteVu > .carteHide {
  transition: ease 0.5s;
}
